*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* MENU */
header{
  position: fixed;
  text-align: right;
  width: 100%;
}

nav ul li{
  list-style: none;
  display: inline-block;
  line-height: 100px;
  margin-right: 10px;
}

nav ul li a{
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
}

nav ul li a span{
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

main .product{
 width: 100%;
 height: 100vh;
 text-align: center;
}

main .one{
  background-color: red;
  color: yellow;
}

main .two{
  background-color: green;
  color: yellow;
}

main .three{
  background-color: yellow;
  color: green;
}
main .product div h3{
  text-transform: uppercase;
  font-size: 40px;
}
